# EDA - POPULATION #

In [2]:
import pandas as pd
pop = pd.read_csv('population.csv')

C:\Users\vrenouf\AppData\Local\Temp\ipykernel_14376\2482441330.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  pop = pd.read_csv('population.csv')

In [3]:
pop.head()

  NIVGEO CODGEO                   LIBGEO  MOCO  AGEQ80_17  SEXE  NB
0    COM   1001  L'Abergement-Clémenciat    11          0     1  15
1    COM   1001  L'Abergement-Clémenciat    11          0     2  15
2    COM   1001  L'Abergement-Clémenciat    11          5     1  20
3    COM   1001  L'Abergement-Clémenciat    11          5     2  20
4    COM   1001  L'Abergement-Clémenciat    11         10     1  20

### Combien des lignes ? ###

In [19]:
len(pop)

8536584

### Nombre de valeurs uniques par variable ###

In [4]:
pop.NIVGEO.value_counts(dropna=False)

COM    8536584
Name: NIVGEO, dtype: int64

In [5]:
pop.CODGEO.value_counts(dropna=False)

1001     238
61117    238
61108    238
61110    238
61111    238
        ...
97424    238
30320    196
28267    174
28267     64
30320     42
Name: CODGEO, Length: 35870, dtype: int64

In [6]:
pop.LIBGEO.value_counts(dropna=False)

Sainte-Colombe              3094
Sainte-Marie                2618
Saint-Sauveur               2618
Le Pin                      2380
Saint-Aubin                 2380
                            ...
La Salvetat-Saint-Gilles     238
Salles-sur-Garonne           238
Salles-et-Pratviel           238
Salies-du-Salat              238
Cilaos                       238
Name: LIBGEO, Length: 33452, dtype: int64

In [7]:
pop.dtypes

NIVGEO       object
CODGEO       object
LIBGEO       object
MOCO          int64
AGEQ80_17     int64
SEXE          int64
NB            int64
dtype: object

In [8]:
pop.isna().sum()

NIVGEO       0
CODGEO       0
LIBGEO       0
MOCO         0
AGEQ80_17    0
SEXE         0
NB           0
dtype: int64

In [9]:
pop.NIVGEO.value_counts(dropna=False)

COM    8536584
Name: NIVGEO, dtype: int64

In [10]:
pop.CODGEO.value_counts(dropna=False)

1001     238
61117    238
61108    238
61110    238
61111    238
        ...
97424    238
30320    196
28267    174
28267     64
30320     42
Name: CODGEO, Length: 35870, dtype: int64

In [11]:
pop.LIBGEO.value_counts(dropna=False)

Sainte-Colombe              3094
Sainte-Marie                2618
Saint-Sauveur               2618
Le Pin                      2380
Saint-Aubin                 2380
                            ...
La Salvetat-Saint-Gilles     238
Salles-sur-Garonne           238
Salles-et-Pratviel           238
Salies-du-Salat              238
Cilaos                       238
Name: LIBGEO, Length: 33452, dtype: int64

In [12]:
pop.MOCO.value_counts(dropna=False)

11    1219512
12    1219512
21    1219512
22    1219512
23    1219512
31    1219512
32    1219512
Name: MOCO, dtype: int64

In [15]:
pop.MOCO.nunique()

7

In [13]:
pop.AGEQ80_17.value_counts(dropna=False)

0     502152
45    502152
75    502152
70    502152
65    502152
60    502152
55    502152
50    502152
40    502152
5     502152
35    502152
30    502152
25    502152
20    502152
15    502152
10    502152
80    502152
Name: AGEQ80_17, dtype: int64

In [16]:
pop.AGEQ80_17.nunique()

17

In [14]:
pop.SEXE.value_counts(dropna=False)

1    4268292
2    4268292
Name: SEXE, dtype: int64

### min et max pour NB ###

In [17]:
pop.NB.min()

0

In [18]:
pop.NB.max()

48873