# **Exploratory Data Analysis (EDA) - Salaires** #

In [1]:
import pandas as pd
import numpy as np

## LEGENDE DES COLONNES ##

0. CODGEO : ID géographique de la villen
1. LIBGEO : nom de la ville
1. SNHM14 : salaire net moyen
1. SNHMC14 : salaire net moyen par heure pour les cadres
1. SNHMP14 : salaire net moyen par heure pour un cadre moyen
1. SNHME14 : salaire net moyen par heure pour l'employé
1. SNHMO14 :  salaire net moyen par heure pour le travailleur
1. SNHMF14 : salaire net moyen pour les femmes
1. SNHMFC14 : salaire net moyen par heure pour les cadres féminins
1. SNHMFP14 : salaire net moyen par heure pour les cadres moyens féminins
1. SNHMFE14 : salaire net moyen par heure pour une employée 
1. SNHMFO14 : salaire net moyen par heure pour une travailleuse 
1. SNHMH14 : salaire net moyen pour un homme
1. SNHMHC14 : salaire net moyen par heure pour un cadre masculin
1. SNHMHP14 : salaire net moyen par heure pour les cadres moyens masculins
1. SNHMHE14 : salaire net moyen par heure pour un employé masculin
1. SNHMHO14 : salaire net moyen par heure pour un travailleur masculin
1. SNHM1814 : salaire net moyen par heure pour les 18-25 ans
1. SNHM2614 : salaire net moyen par heure pour les 26-50 ans
1. SNHM5014 : salaire net moyen par heure pour les >50 ans
1. SNHMF1814 : salaire net moyen par heure pour les femmes âgées de 18 à 25 ans
1. SNHMF2614 : salaire net moyen par heure pour les femmes âgées de 26 à 50 ans
1. SNHMF5014 : salaire net moyen par heure pour les femmes de plus de 50 ans
1. SNHMH1814 : salaire net moyen par heure pour les hommes âgés de 18 à 25 ans
1. SNHMH2614 : salaire net moyen par heure pour les hommes âgés de 26 à 50 ans
1. SNHMH5014 : salaire net moyen par heure pour les hommes de plus de 50 ans

### Création du dataframe salary ###

In [2]:
#Pour que le dataframe ne soit pas tronqué au niveau des colonnes
pd.set_option('display.max_columns', None)

In [3]:
salary = pd.read_csv("./data/net_salary_per_town_categories.csv")
salary.head()

,CODGEO,LIBGEO,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,SNHMFE14,SNHMFO14,SNHMH14,SNHMHC14,SNHMHP14,SNHMHE14,SNHMHO14,SNHM1814,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014
0,01004,Ambérieu-en-Bugey,13.7,24.2,15.5,10.3,11.2,11.6,19.1,13.2,10.1,9.6,15.0,26.4,16.7,11.0,11.6,10.5,13.7,16.1,9.7,11.8,12.5,11.0,14.9,18.6
1,01007,Ambronay,13.5,22.1,14.7,10.7,11.4,11.9,19.0,13.3,10.6,10.0,14.7,23.3,15.8,11.3,11.7,9.8,13.8,14.6,9.2,12.2,12.5,10.2,14.9,16.4
2,01014,Arbent,13.5,27.6,15.6,11.1,11.1,10.9,19.5,11.7,10.8,9.5,15.3,30.2,17.2,12.4,11.8,9.3,13.3,16.0,8.9,10.6,12.5,9.6,15.1,18.6
3,01024,Attignat,12.9,21.8,14.1,11.0,11.3,11.4,19.0,13.0,10.3,9.9,13.8,23.0,14.7,13.2,11.6,9.6,12.9,14.2,9.3,11.4,12.2,9.7,13.8,15.9
4,01025,Bâgé-la-Ville,13.0,22.8,14.1,10.5,11.1,11.6,19.4,13.6,10.2,9.8,13.8,24.1,14.4,11.7,11.4,9.4,12.8,15.2,9.0,11.8,12.3,9.7,13.4,16.9

### Combien de lignes ? ###

In [4]:
#Combien de lignes?
print('Nombre de lignes : {}'.format(len(salary)))

Nombre de lignes : 5136

### Des doublons ? ###

In [5]:
#Doublons?
salary.duplicated().value_counts()

False    5136
dtype: int64

### Création d'un dataframe salary_numbers pour exploration des valeurs numériques ###

In [6]:
salary_numbers = salary.select_dtypes(include='number')

#CODGEO, LIBGEO et DEP ne sont pas des colonnes à variables numériques
salary_numbers.head()

,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,SNHMFE14,SNHMFO14,SNHMH14,SNHMHC14,SNHMHP14,SNHMHE14,SNHMHO14,SNHM1814,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014
0,13.7,24.2,15.5,10.3,11.2,11.6,19.1,13.2,10.1,9.6,15.0,26.4,16.7,11.0,11.6,10.5,13.7,16.1,9.7,11.8,12.5,11.0,14.9,18.6
1,13.5,22.1,14.7,10.7,11.4,11.9,19.0,13.3,10.6,10.0,14.7,23.3,15.8,11.3,11.7,9.8,13.8,14.6,9.2,12.2,12.5,10.2,14.9,16.4
2,13.5,27.6,15.6,11.1,11.1,10.9,19.5,11.7,10.8,9.5,15.3,30.2,17.2,12.4,11.8,9.3,13.3,16.0,8.9,10.6,12.5,9.6,15.1,18.6
3,12.9,21.8,14.1,11.0,11.3,11.4,19.0,13.0,10.3,9.9,13.8,23.0,14.7,13.2,11.6,9.6,12.9,14.2,9.3,11.4,12.2,9.7,13.8,15.9
4,13.0,22.8,14.1,10.5,11.1,11.6,19.4,13.6,10.2,9.8,13.8,24.1,14.4,11.7,11.4,9.4,12.8,15.2,9.0,11.8,12.3,9.7,13.4,16.9

In [7]:
#Toutes les colonnes numériques sont des float
salary_numbers.dtypes

SNHM14       float64
SNHMC14      float64
SNHMP14      float64
SNHME14      float64
SNHMO14      float64
SNHMF14      float64
SNHMFC14     float64
SNHMFP14     float64
SNHMFE14     float64
SNHMFO14     float64
SNHMH14      float64
SNHMHC14     float64
SNHMHP14     float64
SNHMHE14     float64
SNHMHO14     float64
SNHM1814     float64
SNHM2614     float64
SNHM5014     float64
SNHMF1814    float64
SNHMF2614    float64
SNHMF5014    float64
SNHMH1814    float64
SNHMH2614    float64
SNHMH5014    float64
dtype: object

In [8]:
#Des NaN dans ces colonnes numériques ? NON
salary_numbers.isna().sum()

SNHM14       0
SNHMC14      0
SNHMP14      0
SNHME14      0
SNHMO14      0
SNHMF14      0
SNHMFC14     0
SNHMFP14     0
SNHMFE14     0
SNHMFO14     0
SNHMH14      0
SNHMHC14     0
SNHMHP14     0
SNHMHE14     0
SNHMHO14     0
SNHM1814     0
SNHM2614     0
SNHM5014     0
SNHMF1814    0
SNHMF2614    0
SNHMF5014    0
SNHMH1814    0
SNHMH2614    0
SNHMH5014    0
dtype: int64

In [9]:
#pour les colonnes avec le nombre d'établissements, est-ce que les min et max sont cohérents?
for i in salary_numbers.columns[1:]:
  print('Colonne {} : min = {} / max = {}'.format(i, salary_numbers[i].min(), salary_numbers[i].max()))

Colonne SNHMC14 : min = 16.0 / max = 51.5
Colonne SNHMP14 : min = 11.6 / max = 54.6
Colonne SNHME14 : min = 8.7 / max = 17.5
Colonne SNHMO14 : min = 8.3 / max = 46.3
Colonne SNHMF14 : min = 9.3 / max = 26.7
Colonne SNHMFC14 : min = 12.0 / max = 35.5
Colonne SNHMFP14 : min = 10.6 / max = 19.0
Colonne SNHMFE14 : min = 8.7 / max = 16.1
Colonne SNHMFO14 : min = 6.1 / max = 28.1
Colonne SNHMH14 : min = 10.4 / max = 52.4
Colonne SNHMHC14 : min = 13.8 / max = 58.0
Colonne SNHMHP14 : min = 11.8 / max = 93.4
Colonne SNHMHE14 : min = 8.0 / max = 23.5
Colonne SNHMHO14 : min = 8.9 / max = 53.2
Colonne SNHM1814 : min = 7.9 / max = 60.6
Colonne SNHM2614 : min = 9.7 / max = 38.1
Colonne SNHM5014 : min = 10.5 / max = 56.9
Colonne SNHMF1814 : min = 7.5 / max = 12.0
Colonne SNHMF2614 : min = 9.1 / max = 26.6
Colonne SNHMF5014 : min = 9.5 / max = 31.0
Colonne SNHMH1814 : min = 7.8 / max = 93.3
Colonne SNHMH2614 : min = 9.6 / max = 45.4
Colonne SNHMH5014 : min = 10.8 / max = 68.6

### Création d'un dataframe pour l'exploration des objets ###

In [10]:
#Vérification des valeurs 'string' dans CODGEO et LIBGEO
#Création d'un dataframe pour ces deux colonnes
salary_string = salary.select_dtypes(include='object')
salary_string.head()

  CODGEO             LIBGEO
0  01004  Ambérieu-en-Bugey
1  01007           Ambronay
2  01014             Arbent
3  01024           Attignat
4  01025      Bâgé-la-Ville

In [18]:
salary_string.CODGEO.value_counts(dropna=False)

01004    1
66106    1
67169    1
67156    1
67154    1
        ..
38039    1
38034    1
38022    1
38013    1
97424    1
Name: CODGEO, Length: 5136, dtype: int64

In [12]:
#est-ce qu'il y a des NaN ?
salary_string.isna().sum()

CODGEO    0
LIBGEO    0
dtype: int64

In [13]:
#Est-ce que chaque CODGEO est unique ?
print(len(np.unique(salary_string.CODGEO)) == len(salary_string))

True

In [14]:
#Dans LIBGEO ?
print(len(np.unique(salary_string.LIBGEO)) == len(salary_string))

False

### Colonne LIBGEO : Des valeurs non uniques ? ###

In [15]:
#Certains libellés LIBGEO sont identiques. Lesquels ?
count_libgeo = pd.DataFrame(salary_string.groupby(['LIBGEO']).size().reset_index().rename(columns={0: "count"})).sort_values(by='count', ascending=False)
count_libgeo.head(5)

            LIBGEO  count
4278  Sainte-Marie      4
4111    Saint-Ouen      3
3978  Saint-Julien      2
2916     Montreuil      2
4085  Saint-Michel      2

In [16]:
#Exemple de la diversité des CODGEO pour Sainte-Marie
salary_string[salary_string['LIBGEO'] == 'Sainte-Marie']

     CODGEO        LIBGEO
1617  35294  Sainte-Marie
3390  66182  Sainte-Marie
5100  97228  Sainte-Marie
5129  97418  Sainte-Marie

In [17]:
#est-ce qu'il y des caractère spéciaux?

spec_car = ['!', '?', "/", ',', ';']
spec_car_return = []
for i in salary_string.LIBGEO:
    for j in spec_car:
        if j in i:
            spec_car_return.append(j)

print(np.unique(spec_car_return))

[]