# EDA - POPULATION #

In [2]:
import pandas as pd
pop = pd.read_csv('population.csv')

C:\Users\vrenouf\AppData\Local\Temp\ipykernel_14376\2482441330.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  pop = pd.read_csv('population.csv')

In [3]:
pop.head()

  NIVGEO CODGEO                   LIBGEO  MOCO  AGEQ80_17  SEXE  NB
0    COM   1001  L'Abergement-Clémenciat    11          0     1  15
1    COM   1001  L'Abergement-Clémenciat    11          0     2  15
2    COM   1001  L'Abergement-Clémenciat    11          5     1  20
3    COM   1001  L'Abergement-Clémenciat    11          5     2  20
4    COM   1001  L'Abergement-Clémenciat    11         10     1  20

In [4]:
pop.NIVGEO.value_counts(dropna=False)

COM    8536584
Name: NIVGEO, dtype: int64

In [5]:
pop.CODGEO.value_counts(dropna=False)

1001     238
61117    238
61108    238
61110    238
61111    238
        ...
97424    238
30320    196
28267    174
28267     64
30320     42
Name: CODGEO, Length: 35870, dtype: int64

In [6]:
pop.LIBGEO.value_counts(dropna=False)

Sainte-Colombe              3094
Sainte-Marie                2618
Saint-Sauveur               2618
Le Pin                      2380
Saint-Aubin                 2380
                            ...
La Salvetat-Saint-Gilles     238
Salles-sur-Garonne           238
Salles-et-Pratviel           238
Salies-du-Salat              238
Cilaos                       238
Name: LIBGEO, Length: 33452, dtype: int64