# EDA Geographic Information #

In [1]:
import pandas as pd
import numpy as np

In [2]:
geo = pd.read_csv("./data/name_geographic_information.csv")
geo.head()

,EU_circo,code_région,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,numéro_circonscription,nom_commune,codes_postaux,code_insee,latitude,longitude,éloignement
0,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Attignat,01340,1024,46.283333,5.166667,1.21
1,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Beaupont,01270,1029,46.400000,5.266667,1.91
2,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bény,01370,1038,46.333333,5.283333,1.51
3,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Béreyziat,01340,1040,46.366667,5.05,1.71
4,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bohas-Meyriat-Rignat,01250,1245,46.133333,5.4,1.01

### Combien de lignes ? ###

In [3]:
#Combien de lignes?
print('Nombre de lignes : {}'.format(len(geo)))

Nombre de lignes : 36840

### Des doublons ? ###

In [4]:
#Doublons?
geo.duplicated().value_counts()

False    36840
dtype: int64

### Création d'un dataframe geo_numbers pour exploration des valeurs numériques ###

In [9]:
geo_numbers = geo.select_dtypes(include='number')

geo_numbers.head()

   code_région  numéro_circonscription  code_insee   latitude  éloignement
0           82                       1        1024  46.283333         1.21
1           82                       1        1029  46.400000         1.91
2           82                       1        1038  46.333333         1.51
3           82                       1        1040  46.366667         1.71
4           82                       1        1245  46.133333         1.01

In [21]:
geo_numbers.code_insee.value_counts(dropna=False)

75056    21
13055     8
31555     6
59350     5
44109     5
         ..
31112     1
31110     1
31109     1
31108     1
97617     1
Name: code_insee, Length: 36693, dtype: int64

### Création d'un dataframe geo_objects pour exploration des valeurs non numériques ###

In [10]:
geo_objects = geo.select_dtypes(include='object')

geo_objects.head()

,EU_circo,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,nom_commune,codes_postaux,longitude
0,Sud-Est,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,Attignat,01340,5.166667
1,Sud-Est,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,Beaupont,01270,5.266667
2,Sud-Est,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,Bény,01370,5.283333
3,Sud-Est,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,Béreyziat,01340,5.05
4,Sud-Est,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,Bohas-Meyriat-Rignat,01250,5.4

**S'il semble normal que les numéros de département et les codes postaux soient des 'strings', il est douteux d'avoir les longitudes dans ce dataframe non numérique**

### Granularité des EU_circo ###

In [11]:
geo_objects.EU_circo.value_counts(dropna=False)

Est              9034
Nord-Ouest       7091
Sud-Ouest        6880
Ouest            4253
Sud-Est          4225
Centre           3911
Île-de-France    1314
Outre-Mer         132
Name: EU_circo, dtype: int64

### Granularité des chefs-lieux ###

In [12]:
geo_objects['chef.lieu_région'].value_counts(dropna=False)

Toulouse                3028
Lyon                    2890
Metz                    2336
Bordeaux                2300
Amiens                  2295
Dijon                   2050
Châlons-en-Champagne    1954
Orléans                 1849
Caen                    1815
Besançon                1787
Lille                   1558
Montpellier             1552
Nantes                  1515
Poitiers                1465
Rouen                   1423
Paris                   1314
Clermont-Ferrand        1313
Rennes                  1273
Marseille                975
Strasbourg               907
Limoges                  749
Ajaccio                  360
Basse-Terre               34
Fort-de-France            34
Saint-Denis               24
Cayenne                   22
Mamoudzou                 14
Saint-Pierre               4
Name: chef.lieu_région, dtype: int64

In [24]:
len(np.unique(geo_objects['chef.lieu_région']))

28

In [25]:
len(np.unique(geo_objects['nom_région']))

28

### Granularité des préfectures ###

In [14]:
geo_objects['préfecture'].value_counts(dropna=False)

Arras           898
Laon            816
Amiens          783
Rouen           747
Metz            732
               ...
Saint-Denis      24
Cayenne          22
Paris            21
Mamoudzou        14
Saint-Pierre      4
Name: préfecture, Length: 102, dtype: int64

### Granularité des départements ###

In [22]:
geo_objects['nom_département'].value_counts(dropna=False)

Pas-de-Calais               898
Aisne                       816
Somme                       783
Seine-Maritime              747
Moselle                     732
                           ...
Réunion                      24
Guyane                       22
Paris                        21
Mayotte                      14
Saint-Pierre-et-Miquelon      4
Name: nom_département, Length: 102, dtype: int64

In [23]:
geo_objects['numéro_département'].value_counts(dropna=False)

62     898
02     816
80     783
76     747
57     732
      ...
974     24
973     22
75      21
976     14
975      4
Name: numéro_département, Length: 102, dtype: int64

### Granularité des communes ###

In [20]:
geo_objects['nom_commune'].value_counts(dropna=False)

Paris                          21
Sainte-Colombe                 14
Saint-Sauveur                  12
Beaulieu                       11
Sainte-Marie                   11
                               ..
Saint-Elix-le-Château           1
Saint-Bertrand-de-Comminges     1
Saint-Béat                      1
Saint-Aventin                   1
TSINGONI                        1
Name: nom_commune, Length: 34142, dtype: int64

### Des NaN ? ###

In [27]:
geo_objects.isna().sum()

EU_circo                 0
nom_région               0
chef.lieu_région         0
numéro_département       0
nom_département          0
préfecture               0
nom_commune              0
codes_postaux            0
longitude             2841
dtype: int64

In [28]:
geo_numbers.isna().sum()

code_région                  0
numéro_circonscription       0
code_insee                   0
latitude                  2929
éloignement               2962
dtype: int64