<a href="https://colab.research.google.com/github/Mariehf64/fev23cda_french_industry/blob/EDA_Dominique/EDA_population.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import des librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# import des données
source=pd.read_csv('/content/population.csv' )
df=source.copy()

In [4]:
# premières explorations
display(df.head())
display(df.info())

  NIVGEO  CODGEO                   LIBGEO  MOCO  AGEQ80_17  SEXE    NB
0    COM    1001  L'Abergement-Clémenciat    11          0     1  15.0
1    COM    1001  L'Abergement-Clémenciat    11          0     2  15.0
2    COM    1001  L'Abergement-Clémenciat    11          5     1  20.0
3    COM    1001  L'Abergement-Clémenciat    11          5     2  20.0
4    COM    1001  L'Abergement-Clémenciat    11         10     1  20.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163435 entries, 0 to 163434
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   NIVGEO     163435 non-null  object
 1   CODGEO     163435 non-null  int64
 2   LIBGEO     163435 non-null  object
 3   MOCO       163435 non-null  int64
 4   AGEQ80_17  163435 non-null  int64
 5   SEXE       163435 non-null  int64
 6   NB         163434 non-null  float64
dtypes: float64(1), int64(4), object(2)
memory usage: 8.7+ MB

None

**DESCRIPTION DES VARIABLES**

NIVGEO : geographic level (arrondissement, communes…)<br>
CODGEO : unique code for the town<br>
LIBGEO : name of the town<br>
MOCO : mode de cohabitation :<br>
11 = enfants vivant avec deux parents<br>
12 = enfants vivant avec un seul parent<br>
21 = adultes vivant en couple sans enfant<br>
22 = adultes vivant en couple avec enfants<br>
23 = adultes vivant seuls avec enfants<br>
31 = personnes étrangères à la famille vivant au foyer<br>
32 = personnes vivant seulesAGE80_17 : catégorie d'âge (tranche de 5 ans) | ex : 0 -> personnes âgées de 0 à 4 ans<br>
SEXE : sexe, 1 pour homme | 2 pour femme<br>
NB : Nombre de personnes dans la catégorie<br>

In [5]:
# Analyse des NaN

print(df.isna().sum())

display(df[df.isna().any(axis=1)==1])

NIVGEO       0
CODGEO       0
LIBGEO       0
MOCO         0
AGEQ80_17    0
SEXE         0
NB           1
dtype: int64

       NIVGEO  CODGEO       LIBGEO  MOCO  AGEQ80_17  SEXE  NB
163434    COM    2286  Esquéhéries    23         75     1 NaN

**DTYPE**

Variable catégorielle a changer en str :
- CODGEO
- SEXE  

variables continues à changer en int :
- AGEQ80_17
- NB

**DOUBLONS**

In [6]:
df.duplicated().sum()

0