In [2]:
#Exploration 'population.csv'
import pandas as pd
df = pd.read_csv('population.csv')
df.info()
df.describe()
df.head()

C:\Users\frede\AppData\Local\Temp\ipykernel_33524\4243023378.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('population.csv')

In [7]:
#Visualisation des doublons 
df.duplicated()
#Affichage des entrées contenant des valeurs manquantes
df.isna().any(axis = 1)

0          False
1          False
2          False
3          False
4          False
           ...
8536579    False
8536580    False
8536581    False
8536582    False
8536583    False
Length: 8536584, dtype: bool

In [14]:
#Exploration 'base_etablissement_par_tranche_effectif.csv' : 
#Informations sur le nombre d'entreprises dans chaque ville française classées par taille.
df2 = pd.read_csv('base_etablissement_par_tranche_effectif.csv')
df2.info()
df2.describe()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36681 entries, 0 to 36680
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODGEO    36681 non-null  object
 1   LIBGEO    36681 non-null  object
 2   REG       36681 non-null  int64
 3   DEP       36681 non-null  object
 4   E14TST    36681 non-null  int64
 5   E14TS0ND  36681 non-null  int64
 6   E14TS1    36681 non-null  int64
 7   E14TS6    36681 non-null  int64
 8   E14TS10   36681 non-null  int64
 9   E14TS20   36681 non-null  int64
 10  E14TS50   36681 non-null  int64
 11  E14TS100  36681 non-null  int64
 12  E14TS200  36681 non-null  int64
 13  E14TS500  36681 non-null  int64
dtypes: int64(11), object(3)
memory usage: 3.9+ MB

In [4]:
#Visualisation des doublons 
df2.duplicated()
#Affichage des entrées contenant des valeurs manquantes
df2.isna().any(axis = 1)

NameError: name 'df2' is not defined

In [15]:
#Exploration 'name_geographic_information.csv' :
#Données géographiques sur les villes françaises (principalement la latitude et la longitude, 
#mais aussi les codes et les noms des régions/départements).
df3 = pd.read_csv('name_geographic_information.csv')
df3.info()
df3.describe()
df3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36840 entries, 0 to 36839
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EU_circo                36840 non-null  object
 1   code_région             36840 non-null  int64
 2   nom_région              36840 non-null  object
 3   chef.lieu_région        36840 non-null  object
 4   numéro_département      36840 non-null  object
 5   nom_département         36840 non-null  object
 6   préfecture              36840 non-null  object
 7   numéro_circonscription  36840 non-null  int64
 8   nom_commune             36840 non-null  object
 9   codes_postaux           36840 non-null  object
 10  code_insee              36840 non-null  int64
 11  latitude                33911 non-null  float64
 12  longitude               33999 non-null  object
 13  éloignement             33878 non-null  float64
dtypes: float64(2), int64(3), object(9)
memory usage: 3.9+ MB

In [ ]:
#Visualisation des doublons 
df3.duplicated()
#Affichage des entrées contenant des valeurs manquantes
df3.isna().any(axis = 1)

In [16]:
#Exploration 'net_salary_per_town_categories.csv' : Salaires par villes française par catégories d'emploi, âge et sexe
df4 = pd.read_csv('net_salary_per_town_categories.csv')
df4.info()
df4.describe()
df4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136 entries, 0 to 5135
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODGEO     5136 non-null   object
 1   LIBGEO     5136 non-null   object
 2   SNHM14     5136 non-null   float64
 3   SNHMC14    5136 non-null   float64
 4   SNHMP14    5136 non-null   float64
 5   SNHME14    5136 non-null   float64
 6   SNHMO14    5136 non-null   float64
 7   SNHMF14    5136 non-null   float64
 8   SNHMFC14   5136 non-null   float64
 9   SNHMFP14   5136 non-null   float64
 10  SNHMFE14   5136 non-null   float64
 11  SNHMFO14   5136 non-null   float64
 12  SNHMH14    5136 non-null   float64
 13  SNHMHC14   5136 non-null   float64
 14  SNHMHP14   5136 non-null   float64
 15  SNHMHE14   5136 non-null   float64
 16  SNHMHO14   5136 non-null   float64
 17  SNHM1814   5136 non-null   float64
 18  SNHM2614   5136 non-null   float64
 19  SNHM5014   5136 non-null   float64
 20  SNHMF1814  5136 non-null   float64
 21  SNHMF2614  5136 non-null   float64
 22  SNHMF5014  5136 non-null   float64
 23  SNHMH1814  5136 non-null   float64
 24  SNHMH2614  5136 non-null   float64
 25  SNHMH5014  5136 non-null   float64
dtypes: float64(24), object(2)
memory usage: 1.0+ MB

In [ ]:
#Visualisation des doublons 
df4.duplicated()
#Affichage des entrées contenant des valeurs manquantes
df4.isna().any(axis = 1)