# FICHIER SIREN #

Le fichier SIREN repertorie l'ensemble des établissements en France.  
Chaque établissement a une clé unique: le SIRET.  
Une entreprise peut comprendre plusieurs établissements  
On identifie une entreprise via le SIREN.

Le fichier SIREN est très volumineux (> 6 GO).  
Il peut difficilement être ouvert via un read_csv et demande un matériel informatique suffisamment puissant.

Certaines entreprises, largement minoritaires, refusent leur diffusion via ce type de fichier.  
Elle sont donc absentes (variable statutDiffusionEtablissement)

Dans le cadre du projet French Industry, Nous souhaitons :

- SIRET
- SIREN
- Avoir les entreprises actives (etatAdministratifEtablissement == 'A')
- Disposer d'informations géographiques (codeCommuneEtablissement)
- Connaître la taille de l'établissement (trancheEffectifsEtablissement & anneeEffectifsEtablissement)

# FICHIER SOURCE #

**Lien** : https://www.data.gouv.fr/fr/datasets/base-sirene-des-entreprises-et-de-leurs-etablissements-siren-siret/  
**Fichier à télécharger** : StockEtablissement_utf8.csv

# SIREN : STOCK ETABLISSEMENT #

In [1]:
import pandas as pd
import numpy as np
import time
from unidecode import unidecode

In [2]:

#début de l'execution du code
start = time.time()

siret = pd.Series([], dtype='string') # 'siret'
siren = pd.Series([], dtype='string') # 'siret'
etablissementSiege = pd.Series([], dtype='boolean') # 'etablissementSiege'
codeCommuneEtablissement = pd.Series([], dtype='string') # 'codeCommuneEtablissement'
trancheEffectifsEtablissement = pd.Series([], dtype='string') # 'trancheEffectifsEtablissement'
anneeEffectifsEtablissement = pd.Series([], dtype='string') # 'anneeEffectifsEtablissement'
libelleVoieEtablissement = pd.Series([], dtype='string') # 'libelleVoieEtablissement'
codePostalEtablissement = pd.Series([], dtype='string') # 'codePostalEtablissement'
libelleCommuneEtablissement = pd.Series([], dtype='string') # 'libelleCommuneEtablissement'
etatAdministratifEtablissement = pd.Series([], dtype='string') # 'etatAdministratifEtablissement'
trancheEffectifsEtablissement = pd.Series([], dtype='string') # 'trancheEffectifsEtablissement'

for chunk in pd.read_csv("C:\\Users\\vrenouf\\Documents\\SIREN SFDC Data files\\StockEtablissement_utf8.csv", encoding='UTF-8', dtype='string', chunksize=1000000):
    siret = pd.concat([siret, chunk['siret']])
    siren = pd.concat([siren, chunk['siren']])
    etablissementSiege = pd.concat([etablissementSiege, chunk['etablissementSiege']])
    codeCommuneEtablissement = pd.concat([codeCommuneEtablissement, chunk['codeCommuneEtablissement']])
    trancheEffectifsEtablissement = pd.concat([trancheEffectifsEtablissement, chunk['trancheEffectifsEtablissement']])
    anneeEffectifsEtablissement = pd.concat([anneeEffectifsEtablissement, chunk['anneeEffectifsEtablissement']])
    codePostalEtablissement = pd.concat([codePostalEtablissement, chunk['codePostalEtablissement']])
    libelleCommuneEtablissement = pd.concat([libelleCommuneEtablissement, chunk['libelleCommuneEtablissement']])
    etatAdministratifEtablissement = pd.concat([etatAdministratifEtablissement, chunk['etatAdministratifEtablissement']])

StockEtablissement = pd.concat([siret, 
                                siren,
                                etatAdministratifEtablissement,
                                etablissementSiege, 
                                codeCommuneEtablissement,
                                trancheEffectifsEtablissement,
                                anneeEffectifsEtablissement,
                                codePostalEtablissement,
                                libelleCommuneEtablissement], axis=1)

StockEtablissement.columns = ['siret', 
                                'siren',
                                'etatAdministratifEtablissement',
                                'etablissementSiege', 
                                'codeCommuneEtablissement',
                                'trancheEffectifsEtablissement',
                                'anneeEffectifsEtablissement',
                                'codePostalEtablissement',
                                'libelleCommuneEtablissement',]


end = time.time()
execution = end - start
print('Temps d\'excution : {}'.format(np.round(execution, 2)))
StockEtablissement.head()

Temps d'excution : 348.11

,siret,siren,etatAdministratifEtablissement,etablissementSiege,codeCommuneEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,codePostalEtablissement,libelleCommuneEtablissement
0,00032517500016,000325175,F,false,98727,<NA>,<NA>,98770,MANIHI
1,00032517500024,000325175,F,false,84007,<NA>,<NA>,84140,AVIGNON
2,00032517500032,000325175,F,false,84007,<NA>,<NA>,84000,AVIGNON
3,00032517500040,000325175,F,false,13042,<NA>,<NA>,13420,GEMENOS
4,00032517500057,000325175,F,false,13204,<NA>,<NA>,13004,MARSEILLE 4

# EXPORT DES ETABLISSEMENTS ACTIFS AU 1ER AVRIL 2023 #

In [3]:
StockEtablissement_A = StockEtablissement[StockEtablissement['etatAdministratifEtablissement'] == 'A'].reset_index(drop=True)

In [4]:
StockEtablissement_A.to_csv("StockEtablissement_A.csv")

In [5]:
StockEtablissement_A.head()

,siret,siren,etatAdministratifEtablissement,etablissementSiege,codeCommuneEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,codePostalEtablissement,libelleCommuneEtablissement
0,00032517500065,000325175,A,true,13204,<NA>,<NA>,13004,MARSEILLE 4
1,00542002100056,005420021,A,true,80001,NN,<NA>,80100,ABBEVILLE
2,00542012000015,005420120,A,false,80688,02,2020,80120,RUE
3,00542012000023,005420120,A,false,62688,NN,<NA>,62180,RANG-DU-FLIERS
4,00542012000031,005420120,A,true,62550,03,2020,62140,MARCONNELLE

### COMBIEN D'ETABLISSEMENTS ACTIFS EN FRANCE ? ###

In [7]:
len(StockEtablissement_A)

14873397

Est-ce que cela correspond bien au nombre de SIRET unique ?

In [8]:
StockEtablissement_A.siret.nunique()

14873397

Combien d'entreprises ?

In [9]:
StockEtablissement_A.siren.nunique()

13399071

### ETAT DES LIEUX DES CODES COMMUNE ###

In [13]:
StockEtablissement_A[StockEtablissement_A['codeCommuneEtablissement'] == 'true'].trancheEffectifsEtablissement.isna().sum() / len(StockEtablissement_A)

0.0

Il n'y a donc aucun NaN pour les codes géographiques

### TRANCHES EFFECTIFS ETABLISSEMENTS ###

- NN : Etablissement non employeur (pas de salarié au cours de l'année de référence et pas d'effectif au
31/12)
- 00 : 0 salarié (n'ayant pas d'effectif au 31/12 mais ayant employé des salariés au cours de l'année de
référence)
- 01 : 1 ou 2 salariés
- 02 : 3 à 5 salariés
- 03 : 6 à 9 salariés
- 11 : 10 à 19 salariés
- 12 : 20 à 49 salariés
- 21 : 50 à 99 salariés
- 22 : 100 à 199 salariés
- 31 : 200 à 249 salariés
- 32 : 250 à 499 salariés
- 41 : 500 à 999 salariés
- 42 : 1 000 à 1 999 salariés
- 51 : 2 000 à 4 999 salariés
- 52 : 5 000 à 9 999 salariés
- 53 : 10 000 salariés et plus

### COMBIEN D'ETABLISSEMENTS SANS TRANCHES EFFECTIFS ? ###

In [10]:
StockEtablissement_A.trancheEffectifsEtablissement.isna().sum() / len(StockEtablissement_A)

0.6868184181461706

### COMBIEN D'ETABLISSEMENTS SIEGE SANS TRANCHES EFFECTIFS ? ###

In [12]:
StockEtablissement_A[StockEtablissement_A['etablissementSiege'] == 'true'].trancheEffectifsEtablissement.isna().sum() / len(StockEtablissement_A)

0.6330591458024014

### TABLEAU DES TAILLES D'ETABLISSEMENTS ###

In [20]:
ets_tailles = StockEtablissement_A.trancheEffectifsEtablissement.value_counts(dropna=False).to_frame()

In [23]:
ets_tailles['categorie'] = ets_tailles.index

In [25]:
ets_tailles = ets_tailles.reset_index(drop=True)

In [29]:
nomenclature_tailles = pd.read_excel('dictionaire_effectifs_ets.xlsx', dtype='string')
dic_nomenclatures = dict(zip(nomenclature_tailles['Cat'], nomenclature_tailles['Description']))
ets_tailles['categorie'] = ets_tailles['categorie'].map(dic_nomenclatures)

In [30]:
ets_tailles

    trancheEffectifsEtablissement                    categorie
0                        10215323                          NaN
1                         2712108  Etablissement non employeur
2                          772757              1 ou 2 salariés
3                          424619               3 à 5 salariés
4                          228113               6 à 9 salariés
5                          179493             10 à 19 salariés
6                          152354       0 salarié au 31/12 N-1
7                          113082             20 à 49 salariés
8                           43745             50 à 99 salariés
9                           18948           100 à 199 salariés
10                           5990           250 à 499 salariés
11                           3315           200 à 249 salariés
12                           2189           500 à 999 salariés
13                            890       1 000 à 1 999 salariés
14                            403       2 000 à 4 999 salariés
15                             59       5 000 à 9 999 salariés
16                              9      10 000 salariés et plus