# Population par CODGEO

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../files/all_content_2020_v5.csv', usecols=['CODGEO', 'pop_tot'], dtype={'CODGEO': 'string', 'pop_tot': 'float'})

In [3]:
df.head()

  CODGEO  pop_tot
0  01001    821.0
1  01002    268.0
2  01004  14662.0
3  01005   1806.0
4  01006    113.0

In [4]:
df.to_csv('../files/pop_par_codgeo.csv')